.Maquetando1{
    background-color:rgba(166, 255, 0, 0.068);
    border: 100px;
    border: black;
    border-radius: 15px;
   
}

.Maquetando2{
    background-color:rgba(206, 163, 45, 0.068);
    border: 100px;
    border: black;
    border-radius: 15px;
   
}

.Maquetando3{
    background-color:rgba(40, 38, 182, 0.199);
    border: 100px;
    border: black;
    border-radius: 15px;
   
}

.Maquetando4{
    background-color:rgba(217, 255, 0, 0.87);
    border: 100px;
    border: black;
    border-radius: 15px;
   
}